form {
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 15px;
    outline: none; /* retira a linha azul/preta da borda do input */
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px; /* arredondamento das bordas */
    background-color: #428d70;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    background-color: #499a7b;
}